.bd__intro{
    background-color: var(--charcoal);
}

.bd__intro__text{
    margin: 0 25px;
}

.bd__main{
    background-color: var(--brick);
}

.bd__main__title{
    margin: 0 25px;
    color: var(--smoke);
}

.bd__main__text{
    margin: 20px 25px;
    color: var(--smoke);
}

.bd__main__img{
    width: 100%;
    height: 100%;
}

.bd__conlusion{
    background-color: var(--smoke);
}

.bd__conclusion__title{
    margin: 0 25px;
    color: var(--charcoal);
}

.bd__conclusion__text{
    margin: 20px 25px;
    color: var(--charcoal);
}