.bd1__intro{
    background-color: var(--charcoal);
}

.bd1__intro__text{
    margin: 0 25px;
}

.bd1__main{
    background-color: var(--brick);
}

.bd1__main__title{
    margin: 0 25px;
    color: var(--smoke);
}

.bd1__main__text{
    margin: 20px 25px;
    color: var(--smoke);
}

.bd1__main__img{
    width: 100%;
    height: 100%;
}

.bd1__conlusion{
    background-color: var(--smoke);
}

.bd1__conclusion__title{
    margin: 0 25px;
    color: var(--charcoal);
}

.bd1__conclusion__text{
    margin: 20px 25px;
    color: var(--charcoal);
}