.expo__intro{
    padding: 25px 25px;
    background-color: var(--charcoal);
}

.expo__intro__text{
    margin: 0;
}

.expo__when{
    background-color: var(--brick);
    }

.expo__when__title{
    margin-left: 25px;
    margin-bottom: 3px;
    color: var(--smoke);
}

.expo__when__line{
    width: 124px;
        height: 2px;
        background-color: var(--smoke);
        display: block;
        margin: 0;
        margin-left: 25px;
        margin-bottom: 15px;
}

.expo__when__text{
    margin: 0 15px;
    margin-left: 25px;
    margin-bottom: 12px;
    color: var(--smoke);
}

.expo__when__subheading{
    margin: 0;
    margin-left: 25px;
    margin-bottom: 11px;
    color: var(--smoke);
}

.expo__when__list{
    margin: 0;
    padding: 0;
    color: var(--smoke);
    font-family: Montserrat, sans-serif;
    font-size:var(--texte);
    list-style: none;
    text-align: center;
}

.expo__when__item{
    margin: 0;
    margin-bottom: 20px;
}

.expo__when__item:nth-last-child(1){
    margin-bottom: 0;
}

.expo__where{
    background-color: var(--smoke);
}
.expo__where__title{
    margin: 0;
    margin-left: 25px;
    margin-bottom: 3px;
    color: var(--charcoal);
}

.expo__where__line{
    width: 60px;
    height: 2px;
    background-color: var(--charcoal);
    display: block;
    margin: 0;
    margin-left: 25px;
    margin-bottom: 15px;
}

.expo__where__text{
    margin: 0 15px;
    margin-bottom: 25px;
    color: var(--charcoal);
    text-align: center;
}

.expo__where__map{
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.expo__howmuch{
    background-color: var(--charcoal);
    color: var(--smoke);
}

.expo__howmuch__title{
    margin: 0;
    margin-left: 25px;
    margin-bottom: 3px;
}

.expo__howmuch__line{
    width: 150px;
    height: 2px;
    background-color: var(--smoke);
    display: block;
    margin: 0;
    margin-left: 25px;
    margin-bottom: 15px;
}

.expo__howmuch__list{
    margin: 0 25px;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-size:var(--texte);
    list-style: none;
    text-align: left;
}

.expo__howmuch__item{
    margin: 0;
    margin-bottom: 20px;
}

.expo__howmuch__item:nth-last-child(1){
    margin-bottom: 0;
}

.expo__howmuch__link{
    display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
        justify-content: space-between;
        max-width: 100%;
        height: 80px;
        font-size: var(--texte);
        color: var(--smoke);
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        border: 1.5px solid var(--smoke, #F5F5F5);
        margin-top: 20px;
}

.expo__howmuch__text{
    max-width: 100%;
        margin: 26px 0;
        margin-left: 35px;
        vertical-align: midd
}
