.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--charcoal);
    z-index: 100;
}

.menu__button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 40px;
    margin-top: 40px;
    padding: 0;
    width: 27px;
    height: 27px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.menu__title {
    color: var(--smoke);
    margin-left: 25px;
    margin-top: 35px;
}

.menu__list {
    list-style: none;
    margin-top: 28px;
    margin-left: 45px;
    display: grid;
    padding: 0;
}

.menu__item {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: var(--sous-titre-1);
    font-weight: bold;
    color: var(--smoke);
    margin-bottom: 44px;
}

.menu__item__link{
    text-decoration: none;
    color: var(--smoke);
}

.menu__lang{
    margin-right: 25px;
    margin-left: 48%;
    margin-top: 80%;
}

.menu__lang--active{
    color: var(--charcoal);
        font-size: var(--texte);
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        text-decoration: none;
        background-color: var(--smoke);
        border-radius: 5px;
        padding: 5px;
}
.menu__lang--inactive{
    color: var(--smoke);
        font-size: var(--texte);
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        text-decoration: none;
        padding: 5px;
    
}