.section__home{
    padding-top: 1rem;
    padding-bottom: 35px;
    color: var(--smoke, #F5F5F5);
}

.expo{
    background-color: var(--charcoal);
}

.section__home__title{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-bottom: 20px;
    font-size: bold;
    margin-left: 15px;
}

.section__home__text{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 35px;
    margin-right: 15px;
}

.section__home__img{
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

.section__home__link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    justify-content: space-between;
    max-width: 100%;
    height: 80px;
    font-size: var(--texte);
    color: var(--smoke);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    border: 1.5px solid var(--smoke, #F5F5F5);
    
}

.section__home__link__text {
    max-width: 100%;
    margin: 26px 0;
    margin-left: 35px;
    vertical-align: middle;
}

.arrow {
    max-width: 100%;
    margin: 34px 0;
    margin-left: 50px;
    padding: 0;
    vertical-align: middle;
    float: right;
}

.arch{
    background-color: var(--brick);
}

.building{
    background-color: var(--smoke);
}

.building__title{
    color: var(--charcoal);
}

.building__text{
    color: var(--charcoal);
}

.building__link{
    color: var(--charcoal);
    border: 1.5px solid var(--charcoal);
}

.building__link__text{
    color: var(--charcoal);
}